
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form__error{
  color: red; 
  font-size: 15px; 
  margin: 0;
 
}

.form{
  display: flex;
  flex-direction: column; 
  gap: 10px; 

}

.form__label{
  font-size: 15px;
  font-weight: bold;
}

.validate{
  background-color: #f7f5f5;
  border-radius: 30px;
  width: 300px;
  box-shadow: 5px 5px 5px 0px rgb(145, 141, 141);
}

.form__input{
  height: 27px;
  border-radius: 7px;
  border: 1px solid #ccc;
  transition: border 0.5s ease ;
  outline: none;
  
}

.form__input:focus{
  border: 1px solid #646cff;
 
  
}

.error-form:focus{
  border: 1px solid red;
  border-radius: 5px;
}

.btn-active{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.5s;
  cursor: pointer;
}

.btn-active:hover {
  border-color: #646cff;
}

.form__btn:disabled{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.5s;
}

